.navBar{
    height: 60px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}



.navBar button{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: white;
    padding: 8px 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navBar button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.navBar button a{
    text-decoration: none;
    color: inherit;
}

.nav-logo{
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logo-search-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .navBar {
        flex-wrap: wrap; /* Permite que los hijos de la barra de navegación se envuelvan si no hay espacio suficiente */
        padding: 10px;
    }

    .nav-logo {
        height: 30px; /* Ajustamos el tamaño del logo */
    }

    .navBar button {
        padding: 6px 8px; /* Ajustamos el relleno del botón */
        font-size: 0.8rem; /* Opcional: puedes ajustar el tamaño de fuente si es necesario */
    }

    .logo-search-container {
        width: 100%; /* Ocupa todo el ancho en móviles */
        justify-content: space-between; /* Distribuye espacio entre el logo y el buscador */
        margin-bottom: 10px; /* Espaciado entre esta sección y los botones de filtro */
    }
}

/* Para dispositivos medianos: tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Aquí podrías hacer ajustes específicos para tabletas si lo consideras necesario */
}