
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body:has(.contenedorFormulario) {
    background-image: url("C:\Users\valen\Downloads\login.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.loginTitulo{
    font-family: 'Creepster', cursive;
}

.contenedorFormulario h1 {
    text-align: center;
    -webkit-text-stroke: 0.03px #bdd45b; /* Establece el ancho y el color del borde del texto */
    color: #12b0c9;
    text-shadow:
    
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black;
}




.logo{
    position: fixed;
    top: 10px;
    left: 10px;
    height: 80px;
    width: auto;
    z-index: 1000;
}


.creditos {
    font-family: 'Creepster', cursive; /* Estilo de fuente */
    /* -webkit-text-stroke: 0.03px #bdd45b; Borde del texto */
    color: #12b0c9; /* Color del texto */
    text-shadow: 
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black; /* Sombra del texto */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    z-index: 1000;
    font-weight: 400;
    animation: fillColorChange 3s infinite alternate;
}

@keyframes fillColorChange {
    0% {
        color: #12b0c9;
    }
    100% {
        color: #bdd45b;
    }
}

.contenedorFormulario{
   display: block;
   padding-top: 5rem;
   justify-content: center;
   align-items: center;
   width: 420px;
   background: transparent;
   border: 2px solid rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   color: black; 
   border-radius: 10px;
   padding: 30px 40px;
}


.contenedorFormulario .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-size: 20px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgba(0, 0, 0, 0.2);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.contenedorFormulario .btn{
    width: 100%;
    height:45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    margin: 30px 0;
}

@media (max-width: 600px) {
    .contenedorFormulario {
        width: 100%; /* Ajustamos el ancho al 100% */
        padding: 15px; /* Reducimos el padding */
    }

    .contenedorFormulario .input-box {
        margin: 20px 0; /* Reducimos el margen */
    }

    .input-box input {
        font-size: 16px; /* Disminuimos el tamaño de la fuente */
        padding: 15px 35px 15px 15px; /* Ajustamos el padding */
    }

    .contenedorFormulario .btn {
        height: 40px; /* Ajustamos el alto del botón */
        font-size: 14px; /* Reducimos el tamaño de la fuente */
        margin: 20px 0; /* Reducimos el margen */
    }
}

