.App {
   text-align: center;
}



body{
   background-image: url("C:\Users\valen\Downloads\GENERAL.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   
}

