.card {
    flex: 1 1 calc(33.33% - 40px);
    display: block;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white; 
    border-radius: 10px;
    padding: 5px 20px;
    max-height: 70vh;
}




.card h1, .card h3, .botonX {
    margin-top: 3px;
    margin-bottom: 3px;
}

h1 {
    font-size: 10px;
}

.cover__card img {
    width: 80%;
    transition: all 0.3s;
    border-radius: 15px;
}


.botonX {
    width: 100%;
    height:35px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
  
.card button {
    margin-top: 5px; /* margen en la parte superior para separar de los elementos anteriores */
    margin-bottom: 5px; /* margen en la parte inferior para separar de los elementos siguientes */
}

.cover__card {
    margin-top: 10px; /* margen en la parte superior para separar de los botones o del nombre */
}



.card h1 {
    font-size: 1.5rem;
    margin-bottom: 10px; /* margen en la parte inferior para separar del botón o de la imagen */
}

.card h3{
    font-size: 1rem;
}

.botonX{
    margin-bottom: 15px;
}



.card-container:hover .card {
    transform: scale(1); /* al pasar el mouse por el contenedor, todas las tarjetas se "ampliarán" un poco */
}


.nameDetail {
    font-family: 'Creepster', cursive;
    text-align: center;
    color: #12b0c9;
    font-size: 1.7rem;
    text-shadow:
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black;
    text-decoration: none; /* Esto quita el subrayado del link */
}

.nameDetail:hover {
    color: #12b0c9; /* Mantiene el color cuando se pasa el mouse por encima */
}

.fontExtra {
    font-family: 'Work Sans', sans-serif;
}